.sidebar {
  display: flex;
  flex: 0.3;
  height: 100vh;
}
.sidebar .sidebarLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202226;
  padding: 7px 15px;
}
.sidebar .sidebarLeft .serverIcon {
  margin-top: 7px;
  width: 60px;
  height: 60px;
  background: #35393e;
  border-radius: 9999px;
  margin-bottom: 10px;
  position: relative;
}
.sidebar .sidebarLeft .serverIcon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.sidebar .sidebarRight {
  background: #2f3137;
  width: 300px;
  position: relative;
  flex-grow: 1;
}
.sidebar .sidebarRight .sidebarTop {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.sidebar .sidebarRight .sidebarChannels {
  padding: 13px;
}
.sidebar .sidebarRight .sidebarChannels .sidebarChannelsHeader {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.sidebar .sidebarRight .sidebarChannels .sidebarChannelsHeader .sidebarHeader {
  display: flex;
}
.sidebar .sidebarRight .sidebarChannels .sidebarChannelsHeader .sidebarAddIcon {
  cursor: pointer;
}
.sidebar .sidebarRight .sidebarFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  padding: 15px 0;
  border-top: 1px solid #686a6e;
  margin-left: -3px;
}
.sidebar .sidebarRight .sidebarFooter .sidebarAccount {
  display: flex;
  align-items: center;
}
.sidebar .sidebarRight .sidebarFooter .sidebarAccount img {
  width: 60px;
}
.sidebar .sidebarRight .sidebarFooter .sidebarAccount .accountName {
  margin-left: 5px;
}
.sidebar .sidebarRight .sidebarFooter .sidebarAccount .accountName h4 {
  color: #fff;
  font-weight: 500;
}
.sidebar .sidebarRight .sidebarFooter .sidebarAccount .accountName span {
  color: #686a6e;
}
.sidebar .sidebarRight .sidebarFooter .sidebarVoice {
  display: flex;
  align-items: center;
  color: #686a6e;
}